@{
  Layout = "_Layout";
}

<h1>Welcome to the campaign planner!</h1>
<h3><em>A path to <bold>mission accomplished</bold></em></h3>
<p>@Html.ActionLink("See all operations", "Index", "Operations")</p>
<p>@Html.ActionLink("See all missions", "Index", "Missions")</p> 